.register_heading {
    
    margin: auto;
    width: 50%;
    left: 35%;
    top: 30%;
    position: absolute;
    border: 3px solid #1a4273;
    padding: 10px;
    
  }


.mat-form-field + .mat-form-field {
margin-left: 50px;
}