<!--
  News

  To stay updated with current affairs and news in the University
  
-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
<img src="../../assets/news1.jpeg" style="width: 100%;"></div>  
      <div class="carousel-caption d-none d-md-block"style="float:bottom">
        <h4>Interdisciplinary course offer</h4>
        <h5>27.1.2022 | DIT Public Relations</h5>
        <p>In October 2021, the new interdisciplinary lecture on quantum computing started at the Deggendorf Institute of Technology (DIT). With this, the university is further expanding its innovative range of courses. Students from over 20 degree programmes are introduced to and trained in this key technology in a practical way.</p>
      
    </div>
    <div class="carousel-item" style = "background-color: slategrey;">


      <div class="carousel-caption d-none d-md-block">
        <h4>European Health Prevention Day</h4>
        <h5>13.1.2022 | DIT Public Relations</h5>
        <p>In times of ongoing pandemics, health tourism is having a hard time. The question of whether it still has a future was hotly debated at the European Health Prevention Day from 2 to 3 December in Wiesbaden. Three scientists from the European Campus Rottal-Inn (ECRI) were invited as speakers, which underlines ECRI’s expertise in the field.</p>
      </div>
    </div>
    <div class="carousel-item" style = "background-color: slategrey;">
      

      <div class="carousel-caption d-none d-md-block">
        <h4>Kickstart for the start-up</h4>
        <h5>13.12.2021 | DIT Public Relations</h5>
        <p>Mohammad Abu Rezeq is the first prospective founder at the Deggendorf Institute of Technology (DIT) to receive funding for his start-up idea as an international student. He wants to use a drone and artificial intelligence to facilitate the inspection of solar parks. To build the first prototype of the drone, he has now received the highest possible funding amount of € 7,500 from the Kickstart Incubator Programme.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
