

<div class="row style">
    <div class="card box size" >
      <div class="card-body ">
        <h2 class="card-text text-white">DEGREES TAUGHT IN ENGLISH</h2>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card box size">
      <div class="card-body">
        <h2 class="card-text text-white">MASTER COURSES</h2>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card box size" >
      <div class="card-body">
        <h2 class="card-text text-white">BACHELOR COURSES</h2>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;<br>
    
    <div class="card box size" >
      <div class="card-body">
        <h2 class="card-text text-white">GERMAN LANGUAGE</h2>
      </div>
    </div>
    <br>
    &nbsp;&nbsp;&nbsp;
    <div class="card box size" >
      <div class="card-body">
        <h2 class="card-text text-white">PART TIME COURSES</h2>
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div class="card box size" >
      <div class="card-body">
      
        <h2 class="card-text text-white">OTHER COURSES</h2>
      </div>
    </div>
    
        <div class="card box size" >
          <div class="card-body ">
            <h2 class="card-text text-white">Applied computer science</h2>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="card style2 size">
          <div class="card-body">
            <h2 class="card-text text-black">Artificial intelligence and data science</h2>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="card box size" >
          <div class="card-body">
            <h2 class="card-text text-white">BACHELOR COURSES</h2>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;<br>
        
        <div class="card style2 size" >
          <div class="card-body">
            <h2 class="card-text text-white">GERMAN LANGUAGE</h2>
          </div>
        </div>
        <br>
        &nbsp;&nbsp;&nbsp;
        <div class="card box size" >
          <div class="card-body">
            <h2 class="card-text text-white">PART TIME COURSES</h2>
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="card style2 size" >
          <div class="card-body">
          
            <h2 class="card-text text-white">OTHER COURSES</h2>
          </div>
        </div>
        </div>