$thd-blau: #1a4273;
$donau-blau: #009fe3;
$dark-grey: #313131;
$light-grey: #434343;
$schema-bg: rgba(255, 255, 255, 0.9);
$schema-color: var($dark-grey);
$lh: 1.4rem;

.footer{
        // position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        right: 0;
        padding-right: 0;
        margin-right: 0%;
        background-color: #faf8f800;
}

app-header{
    position: fixed;
    width: 100%;
    background-color: $thd-blau;
    color: white;
}

.loginLink{
    position: absolute;
    left: 92%;
}
.main{
height:fit-content;
}

a { color: inherit; 
    text-align:right;
} 

.example-spacer {
    flex: 1 1 auto;
  }