<!--
    Events

    Events page will help all the students, professors and staff to stay
    updated with the upcoming events.

    This can have functionality of registration and payment
-->

<div class="allevents" style="padding: 10%">

    <h1 style="font-size: 40px;">{{'Event Calendar'|translate}}</h1>
    <div style="padding-bottom: 20px;padding-top: 20px;">
        <h2 style="color: #1a4273;">{{'Information for events regarding COVID-19'|translate}}</h2>
        <p>Our priority is to keep staff and students safe.
            All events involving personal contact during the pandemic must maintain a minimum social distance of 1,5m
            and be
            attended with face masks.'</p>
    </div>
    <hr>
    <div>
        <mat-list>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>08 Feb</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>16:00-17:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                        {{'Online Seminar "Study Health Sciences/Digital Medicine in Germany"'|translate}}
                    </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>22 Feb</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>16:00-17:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                        {{'Information Session DAAD'|translate}}
                    </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>24 Mar</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>13:00-17:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                        {{'Alumini Talk'|translate}}
                    </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>15 Mar</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>09:00-17:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                       {{'Orientation New Semester'|translate}}
                    </p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>26 Mar</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>09:00-11:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                        {{'Trial Studies'|translate}}
                    </p>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>01 Apr</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>13:00-17:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                        {{'Information session DAAD'|translate}}
                    </p>
                </div>
            </mat-list-item>

            <mat-divider></mat-divider>
            <mat-list-item style="height: 100px;cursor: pointer">
                <div style="font-size: 25px;padding-right: 50px;">
                    <p>10 Apr</p>
                </div>
                <div style="font-size: 20px;padding-right: 70px;">
                    <p>11:00-13:00</p>
                </div>
                <div style="font-size: 25px">
                    <p>
                        {{'Counseling Online'|translate}}
                    </p>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
</div>